body {
    font-family: "Arial", sans-serif;
}
.nav-bar{
    position: relative;
    top: 50px;
    left: 548px;
    font-size: 20px;
}
#nav > div > a:nth-child(n){
    text-decoration: none;
    color: black;
}
#image{
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
    left: 760px;
    top: 50px;
}
.nav-bar a {
    margin-right: 50px;
}
.nav-bar a:last-child {
    margin-right: 0;
}
#nav{
    height: 150px;
    width: 100%;
    background-color: #bca89f;
}
.jas > h4{
    position: relative;
    left: 800px;
}
body > div.jas > div > p{
    position: relative;
    left: 840px;
}
body > div.jas > ul{
    list-style: none;
    display: flex;
    gap: 30px;
    position: relative;
    left: 800px;
}


.hobi > h1{
    position: relative;
    left: 400px;
    top: 20px;
}
body > div.hobi > ol{
    position: relative;
    left: 70px;
    top: 50px;
}
#basket > ul, #tocak > ul, #igri > ul{
    width: 720px;
    text-align: justify;
    text-indent: 13px;
    position: relative;
    top: -200px;
}
#image3{
    width: 340px;
    height: 190px;
    position: relative;
    left: 900px;
    top: -40px;
}
#image4{
    width: 340px;
    height: 190px;
    position: relative;
    left: 900px;
    top: -175px;
}
body > div.hobi > ol > li:nth-child(3){
    position: relative;
    top: -170px;
}
#tocak > ul > li {
    position: relative;
    top: -160px;
}
body > div.hobi > ol > li:nth-child(5){
    position: relative;
    top: -300px;
}
#igri > ul > li{
    position: relative;
    top: -90px;
}
<p id="edu">My educational journey has been an enriching experience, beginning at Petar Pop Arsov, where I took my first steps towards knowledge and self-discovery.
The solid foundation I built there laid the groundwork for my academic growth. Continuing my quest for education, I embarked on the next phase of my
learning at Georgi Dimitrov, where I further honed my skills and expanded my intellectual horizons. Now, I am thrilled to be a part of FINKI, a
prestigious institution that has opened up a whole new world of opportunities in the field of computer science and information technology. Each
of these educational institutions has played a pivotal role in shaping my character, fueling my passion for learning, and equipping me with the tools
necessary to thrive in my academic pursuits. I am grateful for the knowledge and experiences gained thus far and eagerly look forward to the exciting
educational journey that lies ahead.</p>

                                                 https://use.fontawesome.com/d1341f9b7a.js